	</div>
  </div>

  <div class="container-fluid text-center">
  	<h5>&copy; 2014 Doggy Play Pals. All Rights Reserved. (Contact:
  	<a href="mailto:darren.d.yu@gmail.com?Subject=Doggy%20Play%20Pals" target="_top">Paw Me!</a>)
  	</h5>
  </div>

</body>
</html>