<% include partials/header.ejs %>


		<div class="col-md-12 text-center text-block wrapper">  
			<h3>404 ERROR <img src="/images/Pawprint.png"></h3>
			<hr>
			<p>Sorry, the file that is being accessed doesn't exist or isn't available. 
			</p>
			<hr>
		</div>


<% include partials/footer.ejs %>




