<% include partials/header.ejs %>

	<div class="col-md-6 col-sm-6 text-center" id="index-text-blk">
		<h3>Welcome to Doggy Play Pals</h3>
		<hr>
		<p>Doggy Play Pals is a web application where dog owners can join and find other dog owner</p>
	</div>


<img src="/images/doggroup.jpeg">



<h1>DOGGY PLAY PALS</h1>
<br>
<h5>Welcome!</h5>

<br><br>

<a href="/auth/login" class="btn btn-primary btn-small">Login</a>
<a href="/auth/signup" class="btn btn-primary btn-small">Sign up</a>


<!-- created include (DY) 12.11.14 -->
<% include partials/footer.ejs %>
