<% include partials/header.ejs %>


		<div class="col-md-12 text-center text-block wrapper">
			<img class="dogImage" src="/images/doggroup.jpeg">   
			<h3>Welcome <img src="/images/Pawprint.png"></h3>
			<hr>
			<p><b>Doggy Play Pals</b> is a social web application where dog owners 
			join and register their little friends to find other dog owners for 
			doggy play dates or gatherings in the Seattle, WA area. Sounds fun? Sign up now!
			</p>
			<hr>
		</div>


<% include partials/footer.ejs %>