<!-- all code created by (DY) without a date is created on 12.10.14 -->


<% include partials/header.ejs %>


<img src="/images/dogbrand.jpeg">



<h1>DOGGY PLAY PALS</h1>
<br>
<h5>Welcome!</h5>

<br><br>

<a href="/auth/login" class="btn btn-primary">Login</a>
<a href="/auth/signup" class="btn btn-primary">Sign up</a>


<!-- created include (DY) 12.11.14 -->
<% include partials/footer.ejs %>
