<% include partials/header.ejs %>

<img src="/images/dogpark.jpeg">

<div class="col-md-6">

   <h3>Let's Play</h3>
            
   <form class="form" method="post" enctype="multipart/form-data">
      <div class="form-group">
         <select class="form-control" name="dog-park">
            <option value="Dr. Jose Rizal Dog Park (Seattle,WA)">Dr. Jose Rizal Dog Park (Off-leash): Seattle,WA</option>
            <option value="Magnuson Dog Park (Seattle,WA)">Magnuson Dog Park (Off-leash): Seattle,WA</option>
            <option value="Plymouth Pillars Dog Park (Seattle,WA)">Plymouth Pillars Dog Park (Off-Leash): Seattle,WA</option>
            <option value="Westcrest Dog Park (Seattle,WA)">Westcrest Dog Park (Off-leash): Seattle,WA</option>
            <option value="Woodland Dog Park (Seattle,WA)">Woodland Dog Park (Off-leash): Seattle,WA</option>
         </select>
      </div>  
      <hr>
      <div class="form-group">
         <label for="form-control">Send a comment for play date to dog owner:</label>
         <textarea class="form-control" name="comment" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>
</div>

<a href="/dogs" class="btn btn-primary">Your doggie pad</a>
<br><br>

<a href="/dogs/list" class="btn btn-primary">list of all dogs</a>
<br><br>

<a href="/auth/logout" class="btn btn-primary">Log out</a>
<% include partials/footer.ejs %>