<% include partials/header.ejs %>


        <div class="col-md-12">
            <h3>Step 2: Add Dog <img src="/images/Pawprint.png"></h3>
            <hr>
            <form class="form" method="post" action="/dogs" enctype="multipart/form-data">
                <input type="text" class="form-control" placeholder="Enter the name of dog" name="name">
                <br><br>
                <input type="text" class="form-control" placeholder="Enter the breed of dog" name="breed">
                <br><br>
                <input type="text" class="form-control" placeholder="Enter the age of dog" name="age">
                <br><br>
                <select class="form-control" name="weight">
                    <option value="small">Less than 20 lbs.</option>
                    <option value="medium">Between 20.1 to 34 lbs.</option>
                    <option value="big">Greater than 34.1 lbs.</option>
                </select>
                <br><br>
                <select class="form-control" name="gender">
                    <option value="male">Gender: Male</option>
                    <option value="female">Gender: Female</option>
                </select>
                <br><br>
                <label for="form-control">Attach Dog Image</label>
                <h3><input type="file" class="form-control" name="dogImg"></h3>
                <br><br>
                <input type="submit" class="btn btn-primary" value="Add Dog">
            </form>
        </div>
        <br>


<% include partials/footer.ejs %>